body {
	background: #007BBE;
	font-family: "微软雅黑";
}

.edit-item {
	width: 100%;
	min-height: 100px;
}


.cardeditbox {
	width: 100%;
}

.auto-expand-textarea {
	position: relative;
	> .holder, .textarea {
		width: 50%;
		white-space: pre-wrap;
		word-wrap: break-word;
  		font-smoothing: antialiased;
		box-sizing: border-box;
		font-family: "微软雅黑", "Helvetica Neue", Helvetica, Arial, sans-serif;
		padding: 4px;
		border: 1px solid #000000;
		background: #ffffff;
		appearance: none;
	}
	> .holder {
		visibility: hidden;
	}
	> .textarea {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		resize: none;
		overflow: hidden;
	}
}