.ui-card {
	min-width: 200px;
	min-height: 260px;
  width: 100%;
  height: 100%;
	perspective: 600px;
	position: relative;
  > .ui-card-item {
  	width: 100%;
  	height: 100%;
  	backface-visibility: hidden;
    transition: all 0.4s ease-in-out;
    transform-style: preserve-flat;
    background: #ffffff;
    box-shadow: 2px 2px 5px #1A4B67;
    border-radius: 4px;
    position: absolute;
    top: 0px;
    left: 0px;
  	&.front {
      z-index: 900;
      transform: rotateX(0deg) rotateY(0deg);
  	}
  	&.back {
      z-index: 800;
  		transform: rotateX(0deg) rotateY(-179deg);
  	}
    > .content {
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      backface-visibility: hidden;
      box-sizing: border-box;
      padding: 20px;
      width: 100%;
      height: auto;
      font-smoothing: antialiased;
    }
  }
  &.flipped > .ui-card-item {
  	&.front {
      transform: rotateX(0deg) rotateY(180deg);
  	}
  	&.back {
      z-index: 1000;
  		transform: rotateX(0deg) rotateY(0deg);
  	}
  }
}